*.orig
*.~
*.user
*.user*
*.pro.user
*.o
*.a
*.szi
*.moc
ui_*
*.autosave
moc_*.cpp
src/DebugBuild/*
src/ReleaseBuild/*
src/RiverLibs/build-*
src/RiverLibs/lib
src/RiverLibs/include/*
lib/
*Makefile
lib/